@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.eot");
  src: local("☺"),  url("../fonts/Heebo-Regular.ttf") format("truetype"), url("../fonts/Heebo-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Medium.eot");
  src: local("☺"),  url("../fonts/Heebo-Medium.ttf") format("truetype"), url("../fonts/Heebo-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Bold.eot");
  src: local("☺"),  url("../fonts/Heebo-Bold.ttf") format("truetype"), url("../fonts/Heebo-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Black.eot");
  src: local("☺"),  url("../fonts/Heebo-Black.ttf") format("truetype"), url("../fonts/Heebo-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Heebo";
  color: #21243D;
  font-size: "16px";
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 856px;
  margin: 0 auto;
}
@media (max-width: 868px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767.98px) {
  .header {
    height: 60px;
  }
}
.header__conainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__icon {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin: 0px 0px 0px 35px;
}
.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
@media (max-width: 767.98px) {
  .menu__icon {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    z-index: 50;
    cursor: pointer;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::after, .menu__icon::before, .menu__icon span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    z-index: 10;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list :last-child {
    margin: 0;
  }
  .menu__item {
    margin: 0px 0px 30px 0px;
  }
  .menu__link {
    font-size: 30px;
    font-weight: 700;
    color: #000;
  }
}

.footer {
  min-height: 100px;
}
.footer__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.footer__copy {
  font-size: 14px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.greetings {
  padding: 210px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .greetings {
    padding: 100px 0px 40px 0px;
  }
}
.greetings__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .greetings__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.greetings__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
  margin: 0px 30px 0px 0px;
}
.greetings__body :not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .greetings__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
}
@media (max-width: 767.98px) {
  .greetings__body {
    margin: 0;
    max-width: 500px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .greetings__body :not(:last-child) {
    margin-bottom: 15px;
  }
}
.greetings__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 136.3636363636%;
}
@media (max-width: 991.98px) {
  .greetings__title {
    font-size: 30px;
  }
}
.greetings__text {
  line-height: 146.875%;
}
.greetings__btn {
  font-size: 20px;
  font-weight: 500;
  background-color: #FF6464;
  color: #fff;
  height: 47px;
  padding: 0px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 2px;
}
.greetings__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  width: 243px;
  position: relative;
  z-index: 3;
}
@media (max-width: 767.98px) {
  .greetings__img {
    margin-bottom: 35px;
  }
}
.greetings__img img {
  border-radius: 50%;
  z-index: 3;
}
.greetings__img span {
  position: absolute;
  height: 243px;
  width: 243px;
  left: 0;
  top: 0;
}
.greetings__img span {
  display: block;
  position: absolute;
  height: 243px;
  width: 243px;
  border-radius: 50%;
  background-color: #EDF7FA;
}
.greetings__img span {
  left: -5px;
  top: 13px;
}

.posts {
  padding: 20px 0px 30px 0px;
  background-color: #EDF7FA;
}
@media (max-width: 696px) {
  .posts {
    padding: 15px 0px 0px 0px;
  }
}
.posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.posts__title {
  font-size: 22px;
  line-height: 272.7272727273%;
}
.posts__more {
  color: #00A8CC;
}
.posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}
@media (max-width: 696px) {
  .posts__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.posts__item {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 696px) {
  .posts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.post {
  height: 100%;
  background-color: #fff;
  padding: 24px;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.post > *:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.post__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 153.8461538462%;
}
.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post__info span {
  margin: 0 20px;
}
.post__date {
  line-height: 156.25%;
}
.post__category {
  line-height: 156.25%;
}
.post__text {
  line-height: 156.25%;
}

.featured-works {
  padding: 35px 0px 80px 0px;
}
.featured-works__title {
  font-size: 22px;
}
@media (max-width: 767.98px) {
  .featured-works__title {
    text-align: center;
  }
}
.featured-works__body {
  margin-top: 15px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 0px 15px 0px;
  border-bottom: 1px solid #E0E0E0;
  gap: 18px;
}
@media (max-width: 767.98px) {
  .works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.works__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  padding-top: 21.029%;
  border-radius: 6px;
  overflow: hidden;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
@media (max-width: 767.98px) {
  .works__img {
    min-width: 246px;
    padding-top: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
.works__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 570px;
          flex: 0 1 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .works__body {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.works__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 146.6666666667%;
}
.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
.works__year {
  background: #142850;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
  min-height: 25px;
  letter-spacing: 1px;
}
.works__category {
  font-size: 20px;
  line-height: 145%;
  color: #8695A4;
}
.works__text {
  font-size: 16px;
  line-height: 143.75%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
